<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918692874187-our0kmulu9dibaaj2op4et9cip4uvcuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918692874187-our0kmulu9dibaaj2op4et9cip4uvcuj</string>
	<key>API_KEY</key>
	<string>AIzaSyCkJhd_26b7VO0cvahMpsPlo3vyNWCidHk</string>
	<key>GCM_SENDER_ID</key>
	<string>918692874187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipe</string>
	<key>PROJECT_ID</key>
	<string>recipe-e3ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-e3ae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918692874187:ios:036e5e318f5a3f64b5d84e</string>
</dict>
</plist>